@page "/islands"

<PageTitle>Interactive Islands</PageTitle>

<h1>Static Page with Interactive Islands</h1>

<p>
    This page (component) is static together with the whole app.
    However, the page can contain components that are interactive. Let's call them "islands of interactivity".
</p>

<Island Name="Greenland" />

<br />
<br />
<br />
<p>Content on the static page... Any components that require interactivity will not work here.</p>
<br />
<br />

<Island Name="Thassos" />

@code {
    private DateTime DatePickerValue { get; set; } = DateTime.Today;
}
