@page "/telerik"

<h1>Interactive App Mode</h1>

<p>This page (component) enables interactivity for the whole app, including all <strong>layouts</strong>.
    The logic for this is in <code>App.razor</code>. There is no need to add a <code>TelerikRootComponent</code> here,
    because the cascading values from the one in <code>TelerikLayout.razor</code> are accessible.</p>

<TelerikDatePicker @bind-Value="@DatePickerValue"
                   Width="200px" />

<TelerikButton OnClick="@( () => WindowVisible = !WindowVisible )">Toggle Window</TelerikButton>

<TelerikWindow @bind-Visible="@WindowVisible" Width="300px" Height="200px">
    <WindowTitle>Telerik Window</WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        Window Content
    </WindowContent>
</TelerikWindow>

<TelerikButton OnClick="@OnButtonClick">Show Dialog</TelerikButton>

@code {
    private DateTime DatePickerValue { get; set; } = DateTime.Today;

    [CascadingParameter]
    public DialogFactory Dialogs { get; set; } = null!;

    private bool WindowVisible { get; set; }

    private async Task OnButtonClick()
    {
        await Dialogs.AlertAsync("Telerik DialogFactory");
    }
}
